

html {
    color:#000;
}
body {
    margin:4px 2px 0 2px;
}


body, .c, span, pre span, .c, .note, p, ul, ol {
    font:normal 12px/18px sans-serif;
}
pre, kbd, samp, code, var {
    font:normal 12px/18px monospace;
}
.baa {
    font:normal 14px/18px serif;
}
.c, .note, p, ul, ol, h2, h3 {
    margin:1.75em 0;
}


a:link, a:visited {
    text-decoration: underline;
    border: 0;
}
a:link:hover, a:visited:hover {
    border: 0;
}
pre a {
    text-decoration:none;
}

/* headers and pullquotes */

h1, h2, h3, h4, pre, caption, .legend, thead th {
    padding:0;
    border:0;
    letter-spacing:0;
    text-shadow:0 0 0;
}
h1 {
    margin:0;
}
h1, h1 code {
    font:normal 18px/18px serif;
}
h2, h2 code {
    font:normal 16px/18px serif;
}
h3, h3 code, .legend, caption, thead th {
    font:normal 14px/18px serif;
}
h4, h4 code {
    font:normal 12px/18px serif;
}
h1:before {
    content:"";
}


.nm, .w, aside, form, form+p, .note span, .q span, .a, .ss img, .arrow {
    display:none;
}
dd {
    margin:0 0 0 1.75em;
}
.f img {
    width: 4em;
    height: 4em;
}
.pf .inner {
    background: white;
    min-height: inherit;
    margin: 0;
    padding: .25em;
}
.pf .moneybags {
    background: white;
    min-height: inherit;
    margin: 0;
    padding: 0;
    padding: 0;
}
pre {
    white-space: pre-wrap;
    float: none !important;
}
.legend {
    margin: 0 !important;
    padding: 0 !important;
    width: 100%;
    font-weight: bold;
}
strong, b, em, i {
    text-transform: inherit;
}
strong, b {
    font-weight: bold;
}
em, i {
    font-style: oblique;
}



@font-face {
    font-family: "Essays 1743";
    src: url("f/Essays1743.eot?") format("eot"), url("f/Essays1743.woff") format("woff"), url("f/Essays1743.ttf") format("truetype");
}
@font-face {
    font-family: "Essays 1743";
    font-weight: bold;
    src: url("f/Essays1743-bold.eot?") format("eot"), url("f/Essays1743-bold.woff") format("woff"), url("f/Essays1743-bold.ttf") format("truetype");
}
@font-face {
    font-family: "Essays 1743";
    font-style: italic;
    src: url("f/Essays1743-italic.eot?") format("eot"), url("f/Essays1743-italic.woff") format("woff"), url("f/Essays1743-italic.ttf") format("truetype");
}
@font-face {
    font-family: "Essays 1743";
    font-style: italic;
    font-weight: bold;
    src: url("f/Essays1743-bold-italic.eot?") format("eot"), url("f/Essays1743-bold-italic.woff") format("woff"), url("f/Essays1743-bold-italic.ttf") format("truetype");
}
@font-face {
    font-family: "Alphabet of Children";
    src: url("f/Alphabet-of-Children.eot?") format("eot"), url("f/Alphabet-of-Children.woff") format("woff"), url("f/Alphabet-of-Children.ttf") format("truetype");
}
@font-face {
    font-family: "Libertine";
    src: url("f/Libertine.eot?") format("eot"), url("f/Libertine.woff") format("woff"), url("f/Libertine.ttf") format("truetype");
}
@font-face {
    font-family: "Libertine";
    font-weight: bold;
    src: url("f/Libertine-bold.eot?") format("eot"), url("f/Libertine-bold.woff") format("woff"), url("f/Libertine-bold.ttf") format("truetype");
}
@font-face {
    font-family: "Libertine";
    font-style: italic;
    src: url("f/Libertine-italic.eot?") format("eot"), url("f/Libertine-italic.woff") format("woff"), url("f/Libertine-italic.ttf") format("truetype");
}
@font-face {
    font-family: "Libertine";
    font-style: italic;
    font-weight: bold;
    src: url("f/Libertine-bold-italic.eot?") format("eot"), url("f/Libertine-bold-italic.woff") format("woff"), url("f/Libertine-bold-italic.ttf") format("truetype");
}

/* base */

html {
    overflow-y: scroll;
    -webkit-font-smoothing: antialiased;
}
html, body {
    background: #fff;
    color: #000;
    margin: 0;
    padding: 0;
}
body {
    font: large/1.556 "Libertine", Palatino, "Palatino Linotype", "Book Antiqua", Georgia, "Times New Roman", serif;
    word-spacing: 0.1em;
    max-width: 960px;
    margin: 0 auto;
    padding-bottom: 2em;
}
pre, kbd, samp, code, var {
    font: medium/1.75 Consolas, "Andale Mono", Monaco, "Liberation Mono", "Bitstream Vera Sans Mono", "DejaVu Sans Mono", monospace;
    word-spacing: 0;
    letter-spacing: 0;
}
.a, .u, table.bc tbody td {
    font: 100%/1 "Arial Unicode MS", FreeSerif, OpenSymbol, "DejaVu Sans", sans-serif;
}
.baa {
    font: oblique 105% Constantia, Baskerville, Palatino, "Palatino Linotype", "URW Palladio L", serif;
}
.note {
    margin: 3.112em 4.94em;
}
.note span {
    display: block;
    float: left;
    font-size: 266.7%;
    line-height: 0.8;
    margin: 0 0.22em 0 -1.22em;
}
.ss span {
    display: block;
    text-align: center;
    border-top: 3px double;
    border-bottom: 3px double;
}
.c {
    font-size: medium;
    line-height: 1.75;
    margin: 1.75em 0;
}
.f:first-letter {
    font-family: "Alphabet of Children";
    font-size: 8.2em;
    float: left;
    margin-right: 0.02em;
    line-height: 0.75;
}
p, ul, ol {
    font-size: large;
    margin: 1.556em 0;
}

/* basics */

.clear {
    clear: both;
}
.c, .a, #toc, form div {
    clear: both;
    text-align: center;
}

#toc ol, #toc li {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}
.a {
    font-size: xx-large;
    line-height: .875;
    text-shadow: 0 0 2px #667;
}
.pf, .fr {
    border: 1px solid;
}
.pf {
    margin: 1.75em 0;
}
.pf .inner {
    min-height: 253px;
    margin: 0 15px 0 0;
    padding: 0 154px 1.75em 0;
    background: white url(i/openclipart.org_johnny_automatic_little_professor.png) bottom right no-repeat;
}
.pf .moneybags {
    min-height: 245px;
    margin: 0 15px 0 0;
    padding: 0 190px 1.75em 0;
    background: white url(i/openclipart.org_johnny_automatic_bag_of_money.png) bottom right no-repeat;
}
.pf h4 {
    margin: 0;
    padding: 4px;
    background: black;
    color: white;
}
.ss {
    float: right;
    margin: 0 0 1.75em 1.75em;
    font-size: medium;
}
address, cite, dfn, var {
    font-style: normal;
}
sup {
    font-variant: small-caps;
    vertical-align: text-top;
}

/* links */

a {
    text-decoration: none;
}
a:link {
    color: FireBrick;
    border-bottom: 1px dotted;
}
a:visited {
    color: RosyBrown;
    border-bottom: 1px dotted;
}
a:link:hover, a:visited:hover {
    border-bottom: 1px solid;
}
.c a {
    color: inherit;
}

/* figures and legends */

.legend {
    font: italic x-large/1.75 "Essays 1743", "Marker Felt", "Kristen ITC", "Viner Hand ITC", "Lucida Handwriting", Amienne, Boopee, "Segoe Print", "Times New Roman", serif;
    text-shadow: 0 0 1px #667;
    margin-left: 0.5em;
    vertical-align: top;
}
.arrow {
    font-size: 200%;
    line-height: 0.3;
    vertical-align: sub;
}
.left {
    float: left;
}
.right {
    float: right;
}
.top {
    margin-bottom: 0.3em;
    display: block;
}
.bottom {
    display: block;
    margin-top: 0;
    margin-left: 2em;
}

/* code blocks */

pre {
    padding-left: 3.5em;
    white-space: pre; /* CSS2 */
    white-space: pre-wrap; /* CSS 2.1 */
    word-wrap: break-word; /* IE */
}
pre.ib {
    padding: 0;
}
mark {
    display: inline-block;
    background: #ff8;
    border: 1px dotted #888;
}
.p {
    color: #667;
}


li ol, .q, .v span {
    margin: 0;
}
code, var, samp {
    line-height: inherit !important;
}


h1, h2, h3, h4, caption, thead th {
    font-family: "Essays 1743", Palatino, "Palatino Linotype", "Book Antiqua", Georgia, "Times New Roman", serif;
    font-weight: normal;
    text-transform: uppercase;
    text-shadow: 0 0 1px #667;
}
h1 {
    font-size: 266.7%;
    line-height: 1.1;
    text-align: center;
    width: 100%;
    margin: 1.49em 0;
}
h2 {
    font-size: 210%;
    line-height: 1.3125;
    margin: 1.167em 0;
    text-align: center;
    clear: both;
}
h3 {
    font-size: x-large;
    line-height: 1.167;
    margin: 1.556em 0;
    text-align: center;
}
h1:before {
    content: "\2116" counter(h1) ".";
}

/* video */

video {
    display: block;
    margin: 0 auto;
}

/* browser compatibility and other tables */

.bc, .st {
    width: 100%;
    border-collapse: collapse;
}

.bc tbody th, .bc thead th.l, tfoot td {
    text-align: left;
}

.bc thead th, .bc td {
    text-align: center;
}

tfoot {
    font-size: small;
}

.st {
    border: 2px solid;
}

.st th {
    text-align: left;
    font-weight: normal;
}

.st tr > th:first-child {
    padding-left: 5px;
}

.ho th {
    border-bottom: 1px solid;
}

.zebra {
    background: #eee;
}


.rotatedFloralHeartBullet:after { content: "\2767" }

.triangularBullet:after { content: "\2023" }

.leftwardsWaveArrow:after  { content: "\219C" }
.rightwardsWaveArrow:after { content: "\219D" }

.leftwardsSquiggleArrow:after  { content: " \21DC" }
.rightwardsSquiggleArrow:after { content: "\21DD" }

.whiteRightPointingIndex:after { content: "\261E" }

.anticlockwiseTopSemicircleArrow:after { content: "\21B6" }
.clockwiseTopSemicircleArrow:after { content: "\21B7" }